<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<div th:each="produto:${produtos}" class="container row mt-3 bordas">
        <p class="col-4 m-0"><b>Produto: </b><span th:text="${produto.produto}"></span></p>
        <p class="col-4 m-0"><b>Qtd. Atual: </b><span th:text="${produto.quantidade}"></span></p>
        <p class="col-4 m-0"><b>Qtd. Mínima: </b><span th:text="${produto.min}"></span></p>
        <p class="col-4 m-0"><b>Qtd. Máxima: </b><span th:text="${produto.max}"></span></p>
        <p class="col-4 m-0"><b>Custo Médio: </b>R$<span th:text="${#numbers.formatDecimal(produto.custo_medio, 0, 'COMMA', 2, 'POINT')}"></span></p>
        <p class="col-4 m-0"><b>Última Compra: </b><span th:text="${produto.ultima_compra}"></span></p>
</div>